@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: signature;
  src: url('../fonts/PhotographSignature.ttf');
}

body {
	font-family: 'Arial';
}

[x-cloak] {
  display: none !important;
}
